/** {
  outline: 1px solid red;
}*/
body {
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
  color: #555;
  /*background-color: #eee;*/
}
h1 {
  font-size: 21px;
  /*text-align: center;*/
  margin: 20px 0px 30px;
  padding: 5px;
  border-bottom: 1px dashed #ccc;
}
.item p {
  margin: 10px 3px;
  padding: 8px 15px 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  display: inline-block;
  background-color: #fff;
}
.item .crossed-out {
  text-decoration: line-through;
}
.item .placeholder {
  color: gray;
}